API_PORT=3000
POSTGRES_PORT=5432

POSTGRES_DB=reservas_db
POSTGRES_USER=reservas_user
POSTGRES_PASSWORD=troque_esta_senha_no_env_local

DATABASE_URL=postgres://reservas_user:troque_esta_senha_no_env_local@db:5432/reservas_db